$primary: #a100db;
$white: #ffffff;
$black: #303030;
$gray: #eeeeee;

$background-body: $white;
$background-pre: $gray;

$text: $black;
$text-input: $black;
$text-input-focus: #111111;

$link: $primary;
$link-visited: #800088;
$link-hover: #191970;
