extends ../layouts/layout.pug

block head
    title P치gina no encontrada

block content
    p Hemos estado buscando, sin embargo, parece que la p치gina que buscas ya no existe.
    p Puedes continuar en
        //a(href="#") Bur칩n Gtz
    p Error 404.
    p P치gina no encontrada.
